node_modules/
dist/
build/
*.log
.DS_Store
.idea/
*.iml
.gradle/
local.properties
android/.gradle/
android/build/
android/.idea/
android/local.properties
ios/Pods/
ios/.build/
ios/Podfile.lock
*.xcworkspace
xcuserdata/
DerivedData/
.swiftpm/
